id ICON "executable_icon.ico"
1 VERSIONINFO
FILEVERSION     0,0,1,0
PRODUCTVERSION  0,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Company Name"
      VALUE "FileDescription", "Description"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "template_sdl_application"
      VALUE "LegalCopyright", "Legal Copyright"
      VALUE "OriginalFilename", "main.exe"
      VALUE "ProductName", "Product Name"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END